body {
    font-family: 'Poppins', sans-serif;
}
/* start navbar */
.navbar .container {
    border-bottom: 1px solid #00000080;
}
.navbar .container a .logo{
    width: 150px;
}
.navbar ul li  img {
    width: 50px;
    height: 36px;
}

@media (max-width:767px) {

.navbar .nav-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.navbar ul li img{
    margin-right: 6px;
}
}
/* end navbar */
/* start info */
.information .container .image {
    background-color: #C4C4C4;
    min-height: calc(100vh - 500px);
    border-radius: 15px 0 0 0;
}
.information .container img{
    bottom: -8%;
    border-radius: 50%;
}
.information .container .camera {
    background-color:  #448088;
    display: flex;
    justify-content: end;
    padding: 20px;
    border-radius: 0 15px 0 0;
}
.information .container .cam {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
}
.information .cam img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.information .btn-outline-primary {
    color: #95C93D;
    border-color: #95C93D;
}
.btn-primary {
    color: #fff;
    background-color: #95C93D;
    border-color: #95C93D;
}
.information p span {
    color: #448088;
}
.information .text {
    background-color: #F6F6F6;
    border-radius: 0 0 0 15px;
}
.information .edit {
    background-color: #F6F6F6;
    border-radius: 0 0 15px 0;

}
.information .btn-outline-primary:hover {
    color: #fff;
    background-color: #95C93D;
    border-color: #95C93D;
}
.information .btn-primary:hover {
    color: #fff;
    background-color: #95C93D;
    border-color: #95C93D;
}
@media (max-width:767px) {

    .information .container .image,.information .container .camera,.information .container .text,.information .container.edit{
        border-radius:0px;
    }
    .information .container .char {
        width: 50%;
    }
}
/* end info */
/* start about */
.about .btn-outline-primary:hover {
    color: rgba(0,0,0,.5)!important;
}
section .row {
    background-color: #F6F6F6;
    border-radius: 15px;
}
@media (max-width:767px) {
    section .row {
        border-radius: 0px;
    }
}
/* end about */
/* start experience */
section .container .row .box {
    width: 120px;
    height: 120px;
    background-color: #C4C4C4;
    position: relative;
}
section .container .row .box::before {
    content: "";
    width: 83px;
    height: 63px;
    background-color: #BEFBFF;
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
}
section .container .row .box::after {
    content: "";
    width: 83px;
    height: 63px;
    background-color: #00525E;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    left: 0;
}
/* end experience */
footer {
    background-color: #00525E;
    color: white;
}